
:root {
	font-family: system-ui, sans-serif;
	overflow-wrap: break-word;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;

	/* --selection: royalBlue; */
	/* --selection: oklch(40% 60% 240deg); */
	--selection: oklch(50% 100% 230deg);
	--selection: oklch(50% 100% 140deg);
	--selection: oklch(52% 45% 265deg);
	--selection: #8886;
	/* --selection: oklch(52% 45% 265deg / 50%); */
	/* --selection: oklch(100% 0% 0deg / 30%); */
	/* --selection: oklch(30% 0% 0deg); */
	/* --selection: oklch(70% 100% 90deg); */

	--link: red;
}

@media (prefers-color-scheme: light) {
	:root {
		--selection: lightSkyBlue;
		--link: green;
	}
}

body {
	box-sizing: border-box;
	block-size: 100dvb;
	margin: 0;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--link);
}

h1, h2, h3, h4, h5, h6, b {
	font-weight: 600;
}

header {
	padding: .5rem;
	background-color: #8884;
}

footer {
	padding: .2rem;
	background-color: #8884;
}

.editor-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	overflow: auto;
	/* container-type: size; */
}

.editor {
	overflow: visible;
	font-size: 1.5rem;
	line-height: 1.5;
	padding: 1rem;
	border: 1px solid #8886;
	background-color: #8882;
	margin-block: 1rem;
	margin-inline: max(1rem, (100dvi - 40em) / 2);
	caret-color: transparent;
	outline: none;
	block-size: auto;
}

.editor > div:not(:last-of-type) {
	margin-block-end: .5rem;
}

.editor::selection, .editor ::selection {
	background-color: transparent;
	color: inherit;
}

/* code {
	background-color: #8884;
	padding: .1em .3em;
	border: 1px solid #8885;
	border-radius: .3em;
} */

.overlay {
	position: absolute;
	/* top: 0; */
	/* left: 0; */
	inset: 0;
	pointer-events: none;
}

.selection {
	position: absolute;
	inset-inline-start: calc(var(--inline-start) * 1px);
	inset-block-start: calc(var(--block-start) * 1px);
	inline-size: calc(var(--inline-size) * 1px);
	block-size: calc(var(--block-size) * 1px);
	background-color: var(--selection);
	z-index: -1;
	box-sizing: border-box;
	border: 1px solid #888f;
	background-clip: padding-box;
	/* border-radius: .2em; */
	/* transition-property: left, top, width, height; */
	/* transition-duration: 70ms; */
}

.caret {
	--direction: ltr;
	--writing-mode: horizontal-tb;
	direction: var(--direction);
	writing-mode: var(--writing-mode);

	--thickness: 1px;
	position: absolute;
	inset-inline-start: calc(var(--inline-start) * 1px);
	inset-block-start: calc(var(--block-start) * 1px);
	inline-size: var(--thickness);
	/* block-size: calc(var(--block-size) * 1px + 3px); */
	block-size: calc(var(--block-size) * 1px);
	background-color: #fff3;
	background-color: currentColor;
	z-index: 1;
	/* transition-property: inset-inline-start, inset-block-start, block-size, transform;
	transition-duration: 100ms; */
	--duration: 100ms;
	/* inset-block-end: calc(100cqb - var(--block-start) * 1px - var(--block-size) * 1px); */
	transition:
		inset-inline-start var(--duration) ease,
		inset-block-start var(--duration) ease,
		block-size var(--duration) ease,
		/* inset-block-start var(--duration) ease-in, */
		/* inset-block-end var(--duration) ease-out, */
		transform var(--duration) ease;
}

.caret.italic {
	transform: skewX(-10deg);
}

.caret.blink {
	animation: 1.1s ease-in-out infinite caret-blink;
}

@keyframes caret-blink {
	0% {
		opacity: 100%;
	}
	10% {
		opacity: 0%;
	}
	50% {
		opacity: 0%;
	}
	60% {
		opacity: 100%;
	}
}
