
:root {
	font-family: system-ui, sans-serif;
	overflow-wrap: break-word;
	line-height: 1.5;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;

	background-color: var(--background);
	color: var(--text);
	/* scrollbar-color: var(--gray-5) transparent; */
	accent-color: var(--text);
	font-size: 1rem;

	--gray-0: oklch(calc(var(--base-lightness) + 0 * var(--gray-lightness-step)) var(--chroma) var(--hue));
	--gray-1: oklch(calc(var(--base-lightness) + 1 * var(--gray-lightness-step)) var(--chroma) var(--hue));
	--gray-2: oklch(calc(var(--base-lightness) + 2 * var(--gray-lightness-step)) var(--chroma) var(--hue));
	--gray-3: oklch(calc(var(--base-lightness) + 3 * var(--gray-lightness-step)) var(--chroma) var(--hue));
	--gray-4: oklch(calc(var(--base-lightness) + 4 * var(--gray-lightness-step)) var(--chroma) var(--hue));
	--gray-5: oklch(calc(var(--base-lightness) + 5 * var(--gray-lightness-step)) var(--chroma) var(--hue));
	--transparent-background: oklch(calc(var(--base-lightness) + 2 * var(--gray-lightness-step)) var(--chroma) var(--hue) / 30%);
	--transparent-gray-1: oklch(calc(var(--base-lightness) + 4 * var(--gray-lightness-step)) var(--chroma) var(--hue) / 30%);
	--transparent-gray-2: oklch(calc(var(--base-lightness) + 6 * var(--gray-lightness-step)) var(--chroma) var(--hue) / 30%);
	--transparent-gray-3: oklch(calc(var(--base-lightness) + 8 * var(--gray-lightness-step)) var(--chroma) var(--hue) / 30%);

	--selection: var(--text);

	@supports not selector(::-webkit-scrollbar) {
		scrollbar-color: var(--scrollbar-color) transparent;
	}
}

/* light theme styles */
:root {
	color-scheme: light;
	--text: black;
	--hue: 280deg;
	--chroma: 0%;
	--base-lightness: 100%;
	--gray-lightness-step: -4%;

	--header: var(--gray-0);
	--header-shadow: #0002;
	--footer: color-mix(in srgb, var(--gray-0), var(--gray-1));
	--footer-top-border: var(--gray-2);
	--editor-area: var(--gray-1);
	--background: var(--gray-1);
	/* --sheet: var(--background); */
	--sheet: var(--gray-0);
	--sheet-border: var(--gray-2);

	--scrollbar-color: royalblue;

	--selection-opacity: 15%;
	--link: #00f;
}

/* dark theme styles */
@media not print {
	:root[data-theme="dark"] {
		color-scheme: dark;
		--text: white;
		--hue: 280deg;
		--chroma: 0%;
		--base-lightness: 20%;
		--gray-lightness-step: 7%;

		--header: var(--gray-1);
		--header-shadow: #0008;
		--footer: color-mix(in srgb, var(--gray-0), var(--gray-1));
		--footer-top-border: var(--gray-1);
		--background: var(--gray-0);

		--sheet: var(--gray-1);
		--sheet-border: var(--gray-2);

		--scrollbar-color: royalblue;

		--selection-opacity: 15%;
		--link: #abf;
	}
}

body {
	box-sizing: border-box;
	block-size: 100dvb;
	margin: 0;
	display: flex;
	flex-direction: column;
}

@layer global {
	a {
		color: var(--link);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	h1, h2, h3, h4, h5, h6, b {
		font-weight: 600;
	}

	button, a, label, summary {
		all: unset;
		cursor: pointer;
		outline: revert;
	}
	
	input {
		all: unset;
		appearance: auto;
		outline: revert;
	}
}

header {
	padding: 10px;
	padding-block-end: 0;
	/* background-color: var(--gray-1); */
	/* border-block-end: 1px solid var(--header-bottom-border); */
	/* box-shadow: 0 0 1rem red; */

	& > .header-inner {
		display: flex;
		padding: 5px;
		/* background-color: var(--gray-3); */
		background-color: var(--header);
		border-radius: 5px;
		flex-wrap: wrap;
		align-items: center;
		gap: 5px;
		box-shadow: 0 2px 8px var(--header-shadow);
		position: relative;
		z-index: 1;
		
		& .icon {
			inline-size: 24px;
			aspect-ratio: 1;
		}
	}

	& :is(button, label) {
		padding: .1rem;
		padding-inline: .6rem;
		/* border: 1px solid var(--gray-5); */
		border-radius: .2rem;
		/* background-color: var(--gray-3); */
		transition: background-color .15s;

		@media (hover) { &:hover:not(:active) {
			background-color: color-mix(in srgb, var(--header), var(--text) 10%);
		}}

		&:active {
			background-color: color-mix(in srgb, var(--header), var(--text) 15%);
		}
	}
}

footer {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--footer);
	row-gap: 1px;
	justify-content: space-between;
	border-block-start: 1px solid var(--footer-top-border);

	& > .side {
		display: flex;
		gap: 1px;

		&:first-child {
			box-shadow: 0 1px var(--gray-1);
			flex-grow: 1;
		}

		& > * {
			padding: .1rem .4rem;
			position: relative;
			&:not(:last-child)::after {
				content: "";
				background-color: var(--gray-2);
				inset-block: 3px;
				inset-inline-end: -1px;
				inline-size: 1px;
				position: absolute;
				display: block;
			}
		}
	}
}

& #theme-switcher {
	&::before {
		content: "☀\FE0E";
	}

	:root[data-theme=light] &::before {
		content: "🌙\FE0E";
	}
}

.editor-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: auto;
	/* background-color: var(--editor-area); */
	scroll-behavior: smooth;
	scroll-padding-block: 4rem;
}

.editor {
	border-radius: 4px;
	font-size: 1.5rem;
	line-height: 1.5;
	padding: 2rem;
	padding-block: 2.5rem;
	border: 1px solid var(--sheet-border);
	background-color: var(--sheet);
	background-clip: padding-box;
	margin-block: 1rem;
	margin-inline: max(1rem, (100dvi - 40em) / 2);
	caret-color: transparent;
	outline: none;
	block-size: auto;

	--shadow-color: #0006;
	box-shadow: 0 0 16px var(--shadow-color);
	:root[data-theme=light] & {
		--shadow-color: #0001;
	}
}

.editor > div {
	margin-block-end: .5rem;
}

.editor > :first-child {
	margin-block-start: 0;
}

.editor > :last-child {
	margin-block-end: 0;
}

.editor::selection, .editor ::selection {
	background-color: transparent;
	/* background-color: red; */
	color: inherit;
}

/* code {
	background-color: #8884;
	padding: .1em .3em;
	border: 1px solid #8885;
	border-radius: .3em;
} */

.overlay {
	position: absolute;
	pointer-events: none;
}

.caret {
	--direction: ltr;
	--writing-mode: horizontal-tb;
	direction: var(--direction);
	writing-mode: var(--writing-mode);

	--thickness: 1px;
	position: absolute;
	inset-inline-start: calc(var(--inline-start) * 1px);
	inset-block-start: calc(var(--block-start) * 1px);
	inline-size: var(--thickness);
	/* block-size: calc(var(--block-size) * 1px + 3px); */
	block-size: calc(var(--block-size) * 1px);
	background-color: #fff3;
	background-color: var(--text);
	z-index: 2;
	/* transition-property: inset-inline-start, inset-block-start, block-size, transform;
	transition-duration: 100ms; */
	--duration: 100ms;
	/* inset-block-end: calc(0px - var(--block-start) * 1px - var(--block-size) * 1px); */
	transition:
		inset-inline-start var(--duration) ease-out,
		inset-block-start var(--duration) ease-out,
		block-size var(--duration) ease-out,
		transform var(--duration) ease-out;
}

.caret.italic {
	transform: skewX(-10deg);
}

.caret.blink {
	animation: 1.1s ease-in-out infinite caret-blink;
}

@keyframes caret-blink {
	0% {
		opacity: 100%;
	}
	10% {
		opacity: 0%;
	}
	50% {
		opacity: 0%;
	}
	60% {
		opacity: 100%;
	}
}

.overlay .selections {
	opacity: var(--selection-opacity);
}

.selection {
	position: absolute;
	inset-inline-start: calc(var(--inline-start) * 1px);
	inset-block-start: calc(var(--block-start) * 1px);
	inline-size: calc(var(--inline-size) * 1px);
	block-size: calc(var(--block-size) * 1px);
	background-color: var(--selection);
	z-index: 1;
	box-sizing: border-box;
	/* border: 1px solid #888f; */
	background-clip: padding-box;
	/* outline: 1px solid #f008; */
	/* outline-offset: 1px; */
	/* border-radius: .2em; */
	/* transition-property: left, top, width, height; */
	/* transition-duration: 70ms; */
}

@media (hover) {
	::-webkit-scrollbar, ::-webkit-scrollbar-corner {
		inline-size: .8rem;
		block-size: .8rem;
		background: none;
	}

	::-webkit-scrollbar-button:start:increment, ::-webkit-scrollbar-button:end:decrement {
		display: none;
	}

	::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
		background-color: var(--scrollbar-color);
		inline-size: .8rem;
		block-size: .8rem;
		border: .2rem solid transparent;
		border-radius: .4rem;
		background-clip: padding-box;
	}

	::-webkit-scrollbar-button {
		background-color: color-mix(in srgb, var(--text) 10%, transparent);
	}

	::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-button:hover {
		background-color: color-mix(in srgb, var(--scrollbar-color), var(--text) 20%)
	}
}
